# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Plotly
3. Pandas

| Data Science Tools|
| -------------|
|Jupyter Noteboo  |
|RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [14]:
200 // 60

3

**Objectives** :
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List Data Science Tools

##Author
Slim Oueslati